@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/*  ======================= VARIABLES CSS ==========================================  */
:root{
    --header-height:3rem;

/* ======================= COLORES ========================== */
    /* ================== TEMA DEL BUSCADOR ================ */
    /* HSL */
    --hue-color: 237;
    --first-color: hsl(var(--hue-color), 50%, 53%);
    --first-color-second: hsl(var(--hue-color), 50%, 55%);
    --first-color-alt: hsl(var(--hue-color), 50%, 58%);
    --first-color-lighter: hsl(var(--hue-color), 50%, 77%);

    --title-color: hsl(var(--hue-color), 10%, 15%);
    --text-color: hsl(var(--hue-color), 10%, 40%);
    --main-text: hsl(var(--hue-color), 10%, 20%);
    --text-color-light: hsl(var(--hue-color), 49%, 87%);
    --input-color: hsl(var(--hue-color), 70%, 88%);
    --body-color: hsl(var(--hue-color), 66%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 15%, 85%);
    --scroll-thumb-color: hsl(var(--hue-color), 15%, 70%);
    --gradient-color: linear-gradient(148deg, rgba(93,72,199,1) 0%, rgba(94,91,201,1) 40%, rgba(101,125,157,1) 100%);

/* ===================== FUENTES ============================ */
    --guillible-font: 'Maven Pro', sans-serif;
    --body-font: 'Poppins', sans-serif;
    --roboto-font: 'Roboto', sans-serif;
    --robotomono-font: 'Roboto Mono', monospace;
    --bigfat-font: 'Russo One', sans-serif;

    /* 1rem = 16px, .5rem = 8px */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 14px;
    --small-font-size: 0.814rem;
    --smaller-font-size: 0.75rem;

    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* MARGIN SIZE - BOTTOM /*
    /* .25rem = 4px, .5rem = 8px, 1rem = 16px, .75rem = 12px */
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /* ============ Z- INDEX ==================== */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;

    /* ============ Background ==================== */
    --background-body-color: hsl(var(--hue-color), 66%, 99%);
    --border-color: var(--first-color);
    --calendar-color: darkslateblue;
    --footer-color: var(--first-color);
    --nav-color: var(--first-color);
    --blog-slider-code-color: black;
    --blog-slider-pagination:hsl(var(--hue-color), 50%, 10%);
    --home-title-color:black;
    --home-subtitle-color: var(--text-color);
    --home-welcome-color: black;
}
    /* FONT SIZE PARA DISPOSITIVOS CON PANTALLA LARGA */
    @media screen and (min-width: 968px){
        :root {
            --big-font-size: 3rem;
            --h1-font-size: 2.5rem;
            --h2-font-size: 1.5rem;
            --h3-font-size: 1.25rem;
            --normal-font-size: 1rem;
            --small-font-size: 0.875rem;
            --smaller-font-size: 0.813rem;
        }
    }


 /* ================= COLORES PARA TEMA OSCURO ======================== */

    body.dark-theme{
        /* HSL */
        --hue-color: 237;
        --first-color: hsl(var(--hue-color), 50%, 53%);
        --first-color-second: hsl(var(--hue-color), 30%, 8%);
        --first-color-alt: hsl(var(--hue-color), 50%, 58%)
        --first-color-lighter: hsl(var(--hue-color), 50%, 77%);

        --title-color: hsl(var(--hue-color), 10%, 95%);
        --text-color: hsl(var(--hue-color), 10%, 75%);
        --main-text: hsl(var(--hue-color), 10%, 75%);
        --text-color-light: hsl(var(--hue-color), 49%, 87%);
        --input-color: hsl(var(--hue-color), 29%, 16%);
        --body-color: hsl(var(--hue-color), 30%, 14%);
        --container-color: hsl(var(--hue-color), 30%, 16%);
        --scroll-bar-color: hsl(var(--hue-color), 10%, 50%);
        --scroll-thumb-color: hsl(var(--hue-color), 15%, 32%);

        background-image: url("/assets/img/stars.png");

        --background-body-color: rgb(20,20,20);
        --border-color: rgba(255, 255, 255, 0.425);
        --calendar-color: var(--first-color-lighter);
        --footer-color: hsl(250, 53%, 26%);
        --nav-color: hsl(250, 53%, 26%);
        --blog-slider-code-color: var(--text-color-light);
        --blog-slider-pagination: white;
        --home-title-color: white;
        --home-subtitle-color: white;
        --home-welcome-color: var(--text-color);

    }   

    .nav__btns {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding-left: var(--mb-0-5);
        margin-top: 4px;
        gap: var(--mb-0-75);
    }

/* ================================ BASE ======================= */

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        margin: 0 0 var(--header-height) 0;
        font-family: var(--body-font);
        font-size: var(--normal-font-size);
        background-color: var(--body-color);
        background-image: url("/assets/img/pattern-randomized.svg");
    }

    h1,h2,h3,h4 {
        color: var(--title-color);
        font-weight: var(--font-semi-bold);
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
        height: auto;
    }

/* ====================== CLASES CSS REUTILIZABLES ====================== */
    .section {
        padding: 1rem 0 4rem;
        margin: auto;
        min-height: 80vh;
    }

    .section__title {
        font-size: var(--big-font-size);
        font-family: var(--guillible-font);
        padding-bottom: 32px;
    }

    .section__subtitle {
        display: block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-3);
        color: var(--text-color);
    }

    .section__title, 
    .section__subtitle {
        text-align: center;
    }
/* ================================== BUTTONS =============================================== */
    .button {
        display: inline-block;
        background-color: var(--first-color);
        color: white;
        padding: 1rem;
        border-radius: .5rem;
        font-weight: var(--font-medium);
    }

    .button:hover {
        background-color:darkslateblue;
        color: azure;
    }

    .button__icon {
        font-size: 1.25rem;
        margin-left: var(--mb-0-5);
        transition: .3s;
    }

    .button--flex {
        display: inline-flex;
        align-items: center;
    }

    .button--white {
        background-color: white;
        color: var(--first-color);
    }

    .button--white:hover {
        background-color: var(--first-color-lighter);
    }

    

/* ================================== LAYOUT =============================================== */
    .container {
        margin-right: auto;
    }

    .grid {
        display: grid;
    }

    .header {
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: var(--z-fixed);
        background-color: var(--body-color);
        margin-right: var(--mb-0-25);
    }

/* ================================== ESTILOS BARRA DE NAVEGACION ============================= */


nav{
  background-color: var(--nav-color); 
  background-image: url("/assets/img/stars.png");
  width: 100%;
  height:80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top:0;
  transition: top 0.5s;
}

 .navbar-nav .nav-link { 
    color: #fff; 
  }
 .navbar-nav .nav-link:hover { 
    color:black; 
  }
 .navbar-nav .active > .nav-link { 
    color: #fbc531; 
  }

  .navbar-nav {
    padding-left:198px;
    align-items: center;
  }

  .navbar-brand{
    font-family: var(--guillible-font);
    padding-top:13px;
    padding-left: 10px;
    color: white;
  }

  .navbar-brand:hover{
    color: white;
  }

    .theme-desc {
      font-size: 12px;
      margin-top:10px;
      font-weight: var(--font-medium);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: var(--title-color);
      font-weight: var(--font-medium);
      text-align:center;
    }

    .nav-img, 
    .nav__toggle {
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__toggle {
        font-size: var(--h3-font-size);
        cursor: pointer;
        margin-right: 2rem;
    }

    .nav__toggle:hover {
        color: var(--first-color);
    }

    @media screen and (max-width: 768px) {
        .nav__menu {
            position: fixed;
            bottom: -100%;
            right: 0;
            left: 0;
            width: 100%;
            background-color: var(--body-color);
            padding: 2rem 1.5rem 4rem;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
            border-radius: 1.5rem 1.5rem 0 0;
            transition: .5s;
        }
    }

    .nav__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: var(--small-font-size);
        color: var(--title-color);
        font-weight: var(--font-medium);
    }

    .nav__link:hover {
        color: var(--first-color);
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.3rem;
        bottom: .5rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--first-color);
    }

    .nav__close:hover {
        color: var(--first-color-alt);
    }

    /* SHOW MENU */
    .show-menu {
        bottom: 0;
    }

    /* ACTIVE LINK */
    .active-link {
        color: var(--first-color);
    }

    /* CAMBIAR FONDO DEL HEADER */
    .scroll-header {
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15)
    }

/* ================================== INICIO ============================= */

    .home {
        height: 70vh;
        align-content: space-between;
        margin-top: var(--mb-3);
        padding-bottom: 0;
        margin-bottom: 0;
        /* background-image: url("/assets/img/mountains_front.png"); */
    }

    .home__container {
        display: flex;
        gap: 1.75rem;
        padding-left: 0px;
        margin-left: var(--mb-1);
        justify-content: space-around;
        align-items: center;
    }

    .home__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'home__social home__content';
        padding-top: var(--mb-2-5);
        align-items: center;
        height: auto;
        align-content: space-between;
        margin-right: var(--mb-0-25);
        margin-left: 0;
    }

    .home__social {
        padding-left: 90px;
    }

    .home__social-icon {
        font-size: 102px;
        color: var(--first-color);
    }

    .home__social-icon1 {
      font-size: 102px;
      color: var(--first-color);
  }

    .home__social-icon:hover {
        color: #007bb6;
        font-size: 110px;
    }

    .home__social-icon1:hover {
      color: black;
      font-size: 110px;

  }

    .home__data {
        grid-area: home__content;
        align-content: center;
        text-align: center;
    }

    .home__welcome {
        text-align: center;
        font-size: var(--font-medium);
        color: var(--home-welcome-color);
        padding: 1.5rem;
    }

    .home__title {
        text-align: center;
        font-family: var(--guillible-font);
        font-size: var(--big-font-size);
        color: var(--home-title-color);
        margin-top: var(--mb-1-5);
        padding-bottom: 1rem;
    }

    #typewriter {
        margin-top: var(--mb-1);
        margin-bottom: var(--mb-2);
    }

    .Typewriter__wrapper {
        text-align: center;
        font-size: var(--h2-font-size);
        font-family: var(--robotomono-font);
        font-weight: var(--font-medium);
        color: var(--main-text);
    }

    .Typewriter__cursor {
        font-size: var(--h1-font-size);
        color: var(--nav-color);
        font-family: var(--bigfat-font);
        font-weight: 600;
    }

    .home__subtitle {
        text-align: center;
        font-size: var(--h3-font-size);
        color: var(--text-color);
        color: var(--home-subtitle-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-1);
        padding: 1rem 1.5rem 1rem 1.5rem;
    }

/*------------------------------------SCROLL DOWN----------------------------------------------------------------*/
@keyframes scrollDown {
        0%{
            margin-top: 14px;
            opacity: 0;
        }
        15%{
            margin-top: 14px;
            opacity: 1;
        }
        30%{
            margin-top: 16px;
            opacity: 1;
        }
        50%{
            margin-top: 30px;
            opacity: 1;
        }
        100%{
            margin-top: 30px;
            opacity: 0;
        }
}

    .home__scroll {
        display: flex;
        justify-content: center;
        padding-top:30px;
        animation: scrollDown 3s infinite;
    }

    .home__scroll-button {
        color: var(--first-color);
        transition: .5s;   
    }

    .home__scroll-button:hover {   
        transform: translateY(.25rem);   
    }

    .home__scroll-down {
        font-size: var(--big-font-size);
        margin-top: var(--mb-1);
    }

/* ================================== ABOUT =============================================== */

    .about {
        padding-top: 50px;
        padding-bottom: 20px;
    }

    .about__image {
        width: 100%;
        border-radius: 1rem;
        margin-bottom: var(--mb-2);
        display: inline-flex;
        justify-self: center;
    }

    .about__description {
        text-align: center;
        margin-bottom: var(--mb-2-5);
        color: var(--text-color);
    }

    .about__info {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: var(--mb-2-5);
    }

    .about__info-title {
        font-size: var(--h2-font-size);
        font-weight: var(--font-semi-bold);
        color: var(--title-color);
    }

    .about__info-name {
        font-size: var(--small-font-size);
        font-family: var(--roboto-font);
        color: var(--text-color);
    }

    .about__info-name,
    .about__info-title {
        display: block;
        text-align: center;
    }

    .about__buttons {
        display: flex;
        justify-content: center;
    }

/* ================================== SKILLS =============================================== */

    .skills__container-card {
        position: relative;
        display: grid;
        width: auto;
        height: auto;
        padding-bottom: var(--mb-0-75);
        margin: auto;
        margin-bottom: var(--mb-2);
    }

    .skills__container-card:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .card_skill {
        position: relative;
        width: 150px;
        height: 200px;
        border-radius: 15px;
        overflow: hidden;
        margin: auto;
        padding: 2em;
        text-shadow: 0 0 1em transparent(black, 0.5em);
        backdrop-filter: blur(20px);
        transform: perspective(500px);
        transform-style: preserve-3d;
        background-color: var(--background-body-color);
    }

    .card_skill::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:lightblue;
        clip-path: circle(100px at 80% 20%);
        transition: 0.5s ease-in-out; 
        border-radius: 10px;
    }

    .card_skill:hover::before {
        clip-path: circle(200px at 80% -20%);
        transition: scale(1.08);
    }

    .card_skill::after {
        content: '';
        position: absolute;
        top: 30%;
        left: -20%;
        font-size: var(--small-font-size);
        font-style: italic;
        color: var(--text-color);
    }

    .imgBx {
        position: absolute;
        width: 70%;
        height: 50%;
        transition: 0.5s;
        transform: translate(-5%, 0%);
        object-fit: fill;
    }

    .contentBx {
        display: flex;
        align-content: space-between;
        text-align: center;
        position: relative; 
        width: 0%;
        height: 0%;
        transform: scale(0.0);
        transition: 1s;
    }

    .card_skill:hover .contentBx {
        display: flex;
        height: 100%;
        width: 70%;
        position: relative; 
        object-fit: cover;
        text-align: center;
        transform: translate(-42%, 92%);
        transition: 1.5s;
    }   

    .cards_kill .contentBx h2 {
        position: relative;
        font-weight: var(--font-medium);
        color: var(--text-color);
        margin: 0;
        padding: 0;
    }
    
    .shadow2 {
        box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
        ;


    }

/* ================================== QUALIFICATION =============================================== */

    .qualification__content {
        margin-bottom: var(--mb-1);
        padding: auto;
    }

    .qualification__button {
      color: var(--calendar-color);
      font-size: var(--h2-font-size);
      font-weight: var(--font-medium);
      position: relative;
      transform: translateX(15%);
      margin-bottom: var(--mb-0-5);
      margin-top: var(--mb-1);
    }

    .qualification__icon {
        /* CAMBIAR EL TAMAÑO */
        font-size: var(--h1-font-size);
        margin-right: var(--mb-0-2);
    }

    .qualification__journey {
        display: flex;
        justify-content: space-between;
    }

    .qualification__line {
        display: block;
        width: 2px;
        height: 100%;
        background-color: var(--first-color-lighter);
        align-items: flex-end;
        transform: translateX(20px);
        margin-right: 0;
        padding: 0;
    }

    .qualification__calendar {
        font-size: var(--small-font-size);
        color: var(--calendar-color);
    }

    .qualification__calendar-icon {
        font-size: var(--normal-font-size);
    }

    .qualification__title {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
    }

    .qualification__subtitle {
        display: inline-block;
        font-size: var(--small-font-size);
        margin-bottom: var(--mb-1);
        color: var(--text-color);
    }

    .transparent__card {
      background-color: var(--background-body-color);
    }

    .mirror-face {
        border: 1px solid #fff;
        border-radius: 15px;
        font-size: 2rem;
        height: initial;
        overflow: hidden;
        position: relative;
        border-width: 2px;
        border-color: var(--border-color);
    }

    .task {
        position: relative;
        overflow: hidden;
        cursor: pointer;
        perspective: 800px;
        transform-style: preserve-3d;
    }

    .abstract {
        transition: 0.8s ease all;
    }

    .details {
        display: flex;
        justify-content: space-around;
        max-height: 0;
        padding-top: var(--mb-1);
        overflow: hidden;
        visibility: hidden;
        transform: rotateX(-180deg);
        transform-origin: top center;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transition: 0.8s transform ease;
    }

    .details:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 10%;
        right: 10%;
        height: 2px;
        background:var(--text-color-light);
    }

    .task:hover .details{
        max-height: none;
        overflow: visible;
        visibility: visible;
        transform: rotateX(0deg);
        transition: 0.8s transform ease;
    }

    .qualification__start {
        display: inline-flex;
        width: 14px;
        height: 14px;
        margin-top: var(--mb-0-75);
        justify-content: flex-end;
        background-color: transparent;
        border-radius: auto;
        transform: translate(20px, 10px);
    }

    .qualification__start-icon {
        font-size: var(--h1-font-size);
    }

/* ================================== PORTFOLIO =============================================== */
    
    .blog-slider {
        width: 95%;
        position: relative;
        max-width: 800px;
        margin: auto;
        background: #fff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 25px;
        border-radius: 25px;
        border-width: 2px;
        height: 400px;
        transition: all 0.3s;
        border-style: solid;
        background-color: var(--background-body-color);
        border-color: var(--border-color);
      }
      @media screen and (max-width: 992px) {
        .blog-slider {
          max-width: 680px;
          height: 400px;
        }
      }
      @media screen and (max-width: 768px) {
        .blog-slider {
          min-height: 500px;
          height: auto;
          margin: 180px auto;
        }
      }
      @media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider {
          height: 350px;
        }
      }
      .blog-slider__item {
        display: flex;
        align-items: center;
      }
      @media screen and (max-width: 768px) {
        .blog-slider__item {
          flex-direction: column;
        }
      }
      .blog-slider__item.swiper-slide-active .blog-slider__img img {
        opacity: 1;
        transition-delay: 0.3s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > * {
        opacity: 1;
        transform: none;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
        transition-delay: 0.3s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
        transition-delay: 0.4s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
        transition-delay: 0.5s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
        transition-delay: 0.6s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
        transition-delay: 0.7s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
        transition-delay: 0.8s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
        transition-delay: 0.9s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
        transition-delay: 1s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
        transition-delay: 1.1s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
        transition-delay: 1.2s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
        transition-delay: 1.3s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
        transition-delay: 1.4s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
        transition-delay: 1.5s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
        transition-delay: 1.6s;
      }
      .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
        transition-delay: 1.7s;
      }
      .blog-slider__img {
        width: 300px;
        flex-shrink: 0;
        height: 300px;
        background-image: var(--gradient-first);
        box-shadow: 4px 13px 30px 1px rgba(57, 158, 218, 0.2);
        border-radius: 20px;
        transform: translateX(-80px);
        overflow: hidden;
      }
      .blog-slider__img:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--gradient-first);
        border-radius: 20px;
        opacity: 0.8;
      }
      .blog-slider__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        border-radius: 20px;
        transition: all 0.3s;
      }
      @media screen and (max-width: 768px) {
        .blog-slider__img {
          transform: translateY(-50%);
          width: 90%;
        }
      }
      @media screen and (max-width: 576px) {
        .blog-slider__img {
          width: 95%;
        }
      }
      @media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider__img {
          height: 270px;
        }
      }
      .blog-slider__content {
        padding-right: 25px;
      }
      @media screen and (max-width: 768px) {
        .blog-slider__content {
          margin-top: -80px;
          text-align: center;
          padding: 0 30px;
        }
      }
      @media screen and (max-width: 576px) {
        .blog-slider__content {
          padding: 0;
        }
      }
      .blog-slider__content > * {
        opacity: 0;
        transform: translateY(25px);
        transition: all 0.4s;
      }
      .blog-slider__code {
        color: var(--blog-slider-code-color);
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
      }
      .blog-slider__title {
        font-size: 24px;
        font-weight: 700;
        color: var(--title-color);
        margin-bottom: 20px;
      }
      .blog-slider__text {
        color: var(--text-color);
        margin-bottom: 30px;
        line-height: 1.5em;
        padding-right: 30px;
        text-align: justify;
      }
      .blog-slider__button {
        display: inline-flex;
        background-image: linear-gradient(147deg, #00A7CD 0%, var(--first-color) 90%); 
        padding: 15px 35px;
        border-radius: 50px;
        color: #fff;
        box-shadow: 0px 14px 80px rgba(76, 56, 252, 0.4);
        text-decoration: none;
        /* font-weight: 500; */
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
      }

      .blog-slider__mm {
        padding-left:110px;
      }
      
      
      .blog-slider__button:hover .button__icon{
        transform: translateX(.25rem);
      }

      /* GITHUB */
      .blog-slider__button-github {
        display: inline-flex;
        background-image: linear-gradient(147deg, skyblue 0%, black 70%); 
        padding: 15px 35px;
        border-radius: 50px;
        color: #fff;
        box-shadow: 0px 14px 80px rgba(76, 56, 252, 0.4);
        text-decoration: none;
        /* font-weight: 500; */
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
      }
      
      .blog-slider__button-github:hover .button__icon{
        transform: translateX(.25rem);
      }
    
      @media screen and (max-width: 576px) {
        .blog-slider__button {
          width: 100%;
        }
      }
      .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
      .blog-slider .swiper-pagination-custom,
      .blog-slider .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
      }
      .blog-slider__pagination {
        position: absolute;
        z-index: 21;
        right: 20px;
        width: 11px !important;
        text-align: center;
        left: auto !important;
        top: 50%;
        bottom: auto !important;
        transform: translateY(-50%);
      }
      @media screen and (max-width: 768px) {
        .blog-slider__pagination {
          transform: translateX(-50%);
          left: 50% !important;
          top: 205px;
          width: 100% !important;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 8px 0;
      }
      @media screen and (max-width: 768px) {
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
          margin: 0 5px;
        }
      }
      .blog-slider__pagination .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        display: block;
        border-radius: 10px;
        background: var(--blog-slider-pagination);
        opacity: 0.2;
        transition: all 0.3s;
      }
      .blog-slider__pagination .swiper-pagination-bullet-active {
        opacity: 1;
        background:var(--first-color);
        height: 30px;
      }
      @media screen and (max-width: 768px) {
        .blog-slider__pagination .swiper-pagination-bullet-active {
          height: 11px;
          width: 30px;
        }
      }

/* ================================== CONTACT =============================================== */   
      .contact_mail{
          margin-left: var(--mb-3);
          margin-right: var(--mb-1-5);
          padding-left: 90px;
          width: 90%;
          margin-bottom: 50px;
      }

      .contact__container {
          padding-left:90px;
          row-gap: 2rem;
          width: auto;
      }

      .contact__container-social {
        padding-right: 100px;
        row-gap: 2rem;
        width: auto;
    }

    .contact__container-social-1 {
      row-gap: 2rem;
      width: 1000px;
  }

      .contact__information {
          display: inline-block;
          margin-bottom: var(--mb-2);
          text-align: center;
          padding-left: 50px;
      }

      .contact__information-email {
        padding-left: 80px;
        display: inline-block;
        margin-bottom: var(--mb-2);
        text-align: center;
        }

      .contact__icon {
          font-size: 48px;
          color: var(--first-color);
          margin-right: var(--mb-0-75);
          text-align: center;
      }

      .contact__title {
          font-size: var(--h3-font-size);
          font-weight: var(--font-medium);
      }

      .contact__title-red {
        font-size: var(--h3-font-size);
        font-weight: var(--font-medium);
        text-align: center;
    }

      .contact__subtitle {
          font-size: var(--small-font-size);
          color: var(--text-color);
      }

      .mirror-face-contact {
        border: 1px solid #fff;
        padding-left: 50px;
        padding-top: 0px;
        border-radius: 15px;
        font-size: 2rem;
        height: initial;
        overflow: hidden;
        position: relative;
        border-color: var(--first-color);
        background-color: white !important;
    }

/* ================================== SCROLL UP =============================================== */

    .scrollup {
        position: fixed;
        right: 1rem;
        bottom: -20%;
        background-color:hsl(250, 53%, 26%);
        opacity: 0.8;
        padding: 0 0.3rem;
        border-radius: 0.4rem;
        z-index: var(--z-tooltip);
        transition: 0.4s;
    }

    .scrollup:hover {
        background-color:navy;
    }
 
    .scrollup__icon {
        font-size: 1.5rem;
        color: #FFF;
    }

    /* SHOW SCROLL */

    .show-scroll {
        bottom: 5rem;   
    }

/* ================================== SCROLL BAR =============================================== */

    ::-webkit-scrollbar{
        width: 15px;
        background-color: var(--scroll-bar-color);
      
    }

    ::-webkit-scrollbar-thumb {
        background-color: black;
        border-radius: 1rem;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color:#4e4a67;
    }

   /* ===================== MEDIA QUERIES ================== */

  /* Small Screen */
  @media screen and (max-width: 350px){
    .container{
      margin-left: var(--mb-0-25);
      margin-right: var(--mb-1);
    }

    .nav__menu{
      padding: 2rem 0.25rem 4rem;
    }

    .nav__list{
      column-gap: 0;
    }

    .home__content{
      grid-template-columns: .25fr 3fr;
    }

    .home__scroll{
      margin-top: var(--mb-0-25);
    }

    .home__scroll-mouse{
      margin-top: var(--mb-0-25);
    }

    .about{
      margin-top: 6rem;
    }
    .qualification__data{
      gap: 0.5rem;
    }

    .contact_mail{
      margin-left: var(--mb-1-5);
    }

    ::-webkit-scrollbar{
      width: 0.4rem;
      border-radius: 0.4rem;
    }

    ::-webkit-scrollbar-thumb{
      background-color: var(--scroll-thumb-color);
      border-radius: 0.2rem;
    }
  }

  /* Medium size Screen devices */
  @media screen and (min-width: 568px){
      .home__content{
        grid-template-columns: max-content 1fr;
      }
      .section{
        min-height: 60vh;
      }
      .home__data{
        grid-column: initial;
      }

      .about__container,
      .skill__container,
      .portfolio__container,
      .contact__container,
      .footer__container{
        grid-template-columns: repeat(1, 1fr);
        padding-left: var(--mb-1);
        padding-right: var(--mb-1);
      }

      .portfolio{
        padding-bottom: var(--mb-0-25);
      }
      .contact{
        padding-top: 0;
      }
      .qualification__start-icon{
        position: absolute;
        transform: translateY(60%);    
      }
  }

  /* Large size Screen devices */
  @media screen and (min-width: 768px){
    .container{
      margin-right: auto;
    }

    body{
      margin: 0;
    }

    .section{
      padding: 6rem 0 2rem;
    }

    .section__subtitle{
      margin-bottom: 4rem;
    }

    .header{
      top: 0;
      bottom: initial;
    }

    .header,
    .main{
      padding: 0 0rem;
    }

    .footer__container{
      padding-top: 1rem;
    }

    .nav-img{
      display: flex;
      width: 50px;
      height: 50px;
      padding-top: 0px;
      padding-bottom: 0px;
      padding-left:initial;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle{
      display: none;
    }

    .nav__btns {
      padding-left: 10px;
      padding-right: 55px;
    }

    .nav__list{
      display: flex;
      column-gap: 2rem;
    }

    .change-theme{
      margin: 0;
    }

    .home__container{
      row-gap: 5rem;
    }

    .home__content{
      padding-top: 2.5rem;
      column-gap: 2rem;
    }
    
    .home__scroll-button{
      margin-left: 3rem;
    }

    .about{
      margin-top: 4rem;
    }
    .about__container{
      column-gap: 5rem;
    }

    .about__img{
      width: 350px;
    }

    .about__description{
      text-align: initial;
    }

    .about__buttons{
      justify-content: center;
    }

    .qualification__button{
      margin: 0 var(--mb-1);
    }

    .footer__container{
      grid-template-columns: repeat(3, 1fr);
    }

    .footer__links{
      flex-direction: row;
      column-gap: 2rem;
    }

    .footer__socials{
      justify-content: flex-end;
    }

    .footer__copy{
      margin-top: 0rem;
      margin-left: 30px;
    }
  }

  .site-footer {
  background-color:var(--footer-color);
  background-image:url("/assets/img/stars.png"); 
  padding:45px 0 20px;
  font-size:var(--h6-font-size);
  line-height:24px;
  color: #FFF;
  }

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#FFF;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:black;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#FFF;
}
.copyright-text
{
  margin:0;
  font-size: var(--medium-font-size);
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#062744;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#4e4a67;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.checkbox {
	opacity: 0;
	position: absolute;
  padding-left:0px;
}

.label {
	background-color: white;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
  border-radius: 50px;
}

.label .ball {
	background-color:var(--first-color);
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.1s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
  background-color:var(--nav-color);
}

input:checked + .label{
  background-color:var(--first-color-lighter);
}

.fa-moon {
	color:darkorange;
}

.fa-sun {
	color:yellow;
}











.modal {
  --gap: 15px;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: var(--gap);
  background: rgba(0, 0, 0, 0.5);
  font-family: var(--font-semi-bold);
  
}

.modal__inner {
  background: #ffffff;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  border-radius: 10px;
 
}

.modal__top {
  padding-top: 13px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  color:white;
  background-color:var(--first-color);
}

.modal__title {
  flex-grow: 1;
  padding: 0 var(--gap);
  font-size: 20px;
}

.modal__content {
  padding: 0 var(--gap);
  line-height: 1.5;
  color:black;
  font-weight: bold;
  font-family: var(--font-semi-bold);
}

.modal__bottom {
  text-align: right;
  padding: 0 var(--gap) var(--gap) var(--gap);
}

.modal__button {
  display: inline-block;
  padding: 6px 12px;
  background: var(--first-color);
  border: none;
  outline: none;
  border-radius: 10px;
  color:white;
  cursor: pointer;
  font-size: 20px;
  font-family: var(--font-semi-bold);
  font-weight: bold;
}

.modal__button:not(:last-child) {
  margin-right: var(--gap);
}

.modal__button:hover {
  background: var(--first-color-alt);
}









